<div class="row">
  <div class="col-md-4">
    <h3>Seleccione archivos</h3>
    <div
      class="well drop-zone"
      [archivos]="archivos"
      [ngClass]="{'file-over': estaSobreDrop}"
      (mouseSobre)="estaSobreDrop = $event"
      appNgDropFiles>
      <h4>Arrastre los archivos y déjelos aquí</h4>
      <img src="assets/drop-images.png" alt="">
    </div>
  </div>

  <div class="col-md-8">
    <h4>Cargar archivos</h4>
    <button (click)="cargarImagenes()" [disabled]="archivos.length === 0" class="btn btn-success">Cargar a Firebase</button>
    <button (click)="limpiarArchivos()" class="btn btn-danger mr-1">Limpiar</button>

    <table class="table">
      <thead class="thead-darke">
        <tr>
          <td>Nombre archivo</td>
          <td>Tamaño</td>
          <td>Progreso</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let archivo of archivos">
          <td [ngClass]="{'text-green': archivo.progreso >= 100}">{{archivo.nombreArchivo}}</td>
          <td> {{archivo.archivo.size/1024/1024 | number: '.2-2'}} MB</td>
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{'width':archivo.progreso + '%'}" ></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
